.infosection h2 {
    color: gray;
    margin-top: 60px;
    margin-left: 20px;
    text-align: left;
    font-size: medium;
  }
  
 .infosection p {
    color: black;
    margin-left: 20px;
    text-align: left;

  }
  
  hr {
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 20px; 
    font-weight: bold; 
  }
   .infosection h5{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    text-align: left;
    text-decoration: underline;
   }

   .infosection h6 {
    color: black;
    margin-left: 20px;
    text-align: left;

  }
  .register-button {
    background: #147ee7;
    /* width: 300px; */
    border: none;
    padding: 10px 30px; 
    margin-top: 20px;
    
    
  }

  .register-a {
    text-decoration: none;
    font-size: large;
    color: white;
  }
  .testsfees{
    display: flex;
    
  }
  .testsfees h5{
    margin-top: 2%;
    
  }
  
.card-body {
  padding: 10px; 
 
}


  .card {
    padding: 2%;
    width: 80%; 
    margin-bottom: 0; 
    margin-top: 40px;
    
  }
  
  .col-md-2 {
    width: 300px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-direction: column; 
    margin: 0;
    padding: 0;
}

  
  .card h2 {
    color: black;
    font-size: medium;
    text-align: center;
  }
  

.title {
  color: black;
  text-align: center;
  font-size: large;
  padding: 20px;
  margin-bottom: 4%;
}


.card p {
  color: rgb(72, 72, 72);
  font-size: small;
  text-align: left; 
}


.card h5 {
  color: blue;
  font-size: small;
  text-align: left; 
  text-decoration: none;

}


.home-container {
  position: relative;
}

.examsection{
  margin-left: 8%;
  display: flex;
}

.coursesection{
  margin-left: 7%;
}
.coursesection h2{
  color: gray;
  margin-top: 60px;
  margin-left: 20px;
  text-align: left;
  font-size: medium;
}
.coursesection p {
  color: black;
  margin-left: 20px;
  text-align: left;

}
.coursefees {
display: flex;
text-decoration: none;

}
.coursefees p{
 color: blue;
  }
  .courseinfo p{
    font-size: medium;
    margin-top: 2%;
  }

  .coursebutton{
    background: #147ee7;
    width: 300px;
    border: none;
    padding: 10px 30px; 
    margin-top: 20px;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  
@media (max-width: 576px) {
  .infosection h2, .coursesection h2 {
    font-size: small;
    margin-top: 30px;
    margin-left: 10px;
    text-align: left;
  }

  .infosection p, .coursesection p {
    font-size: x-small;
    margin-left: 10px;
    text-align: left;
  }

  hr {
    margin-left: 10px;
  }

  .infosection h5, .coursesection h5 {
    font-size: x-small;
    margin-top: 20px;
    margin-left: 10px;
  }

  .infosection h6, .coursesection h6 {
    font-size: x-small;
    margin-left: 10px;
  }

  .register-button, .coursebutton {
    width: 100%;
    padding: 5px 15px;
    margin-top: 10px;
  }
}


@media (min-width: 576px) and (max-width: 992px) {
  .infosection h2, .coursesection h2 {
    font-size: medium;
    margin-top: 40px;
    margin-left: 20px;
  }

  .infosection p, .coursesection p {
    font-size: small;
    margin-left: 20px;
  }

  .infosection h5, .coursesection h5 {
    font-size: small;
    margin-top: 30px;
    margin-left: 20px;
  }

  .infosection h6, .coursesection h6 {
    font-size: small;
    margin-left: 20px;
  }

  .register-button, .coursebutton {
    width: 200px;
    margin-top: 20px;
  }
}


@media (min-width: 992px) {
  .infosection h2, .coursesection h2 {
    font-size: large;
    margin-top: 60px;
    margin-left: 20px;
  }

  .infosection p, .coursesection p {
    font-size: medium;
    margin-left: 20px;
  }

  .infosection h5, .coursesection h5 {
    font-size: medium;
    margin-top: 40px;
    margin-left: 20px;
  }

  .infosection h6, .coursesection h6 {
    font-size: medium;
    margin-left: 20px;
  }

  .register-button, .coursebutton {
    width: 300px;
    margin-top: 20px;
  }
}
