

h2 {
    color: gray;
    margin-top: 60px;
    margin-left: 20px;
    text-align: left;
    font-size: medium;
  }
  
  p {
    color: black;
    margin-left: 20px;
    text-align: left;

  }
  
  hr {
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 20px; 
    font-weight: bold; 
  }
   h5{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    text-align: left;
    text-decoration: underline;
   }

   h6 {
    color: black;
    margin-left: 20px;
    text-align: left;

  }
  .register-button {
    background: #147ee7;
    width: 200px;
    border: none;
    padding: 10px 30px; 
    margin-top: 20px;
  }

  .register-a {
    text-decoration: none;
    font-size: large;
    color: white;
  }
  
  
.card-body {
  padding-top: 0; 
 
}


  .card {
    width: 80%; 
    margin-bottom: 0; 
    margin-top: 40px;
    margin-left: 70%;
    
  }
  
  .col-md-2 {
    width: 300px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-direction: column; 
    margin: 0;
    padding: 0;
}

  
  .card h2 {
    color: black;
    font-size: medium;
    text-align: center;
  }
  

.title {
  color: black;
  text-align: center;
  font-size: large;
  padding-bottom: 20px;
}


.card p {
  color: rgb(72, 72, 72);
  font-size: small;
  text-align: left; 
}


.card h5 {
  color: blue;
  font-size: small;
  text-align: left; 
  text-decoration: none;

}


.home-container {
  position: relative;
}

.canada-logo {
  position: absolute;
  top: 4;
  left: 0;
  width: 100%;
  height: 50%;
  opacity: 0.2; 
  z-index: -1;
}

