.desc-container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
    background-color: #f9f9f9;
    margin-top: 15rem;
}
.calendar_container{
    margin-top: 100px;
}
/* .rbc-event-label {
    display: none;
  } */

.title_home {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #00D8FF;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px #00D8FF;
  }
.event-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .event-popup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0
  
  , 0, 0.2);
  width: 400px;
  max-width: 80%;
  position: relative;
  }
  
  .event-popup h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
  }
  
  .event-popup p {
  font-size: 16px;
  margin: 10px 0;
  }
  
  .event-popup button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #999;
  }
  
  .event-popup button:hover {
  color: black;
  }
  @media (max-width: 768px) {
    .desc-container {
      max-width: 90%;
    } */
    
    .desc-container h2 {
      font-size: 2rem;
    } */
    
     .desc-container p {
      font-size: 1rem;
    } 
  }
   @media (max-width: 767px) {
    .header_about{
        display: flex;
        
       
      }
  }
  
  @media (max-width: 480px) {
    .desc-container h2 {
      font-size: 1.8rem;
    }
    
    .desc-container p {
      font-size: 0.9rem;
    }
  }