.home-update-container {
  margin-left: 1%;
}

.section h1 {
  color: black;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
}

.input-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.input-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-row label {
  color: black;
  margin-bottom: 5px;
}

.input-row input,
.input-row textarea {
  padding: 10px;
  border: 1px solid blue;
  border-radius: 4px;
  font-size: 16px;
}

.label-with-margin {
  margin-right: 10px; 
}
.input-with-margin {
  margin-right: 25px; 
}

.text-right {
  top: 0;
  right: 0;
  margin-right: 35%; 
  float: right;
}
