.modalBackgroundDeleteFeedback {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.modalContainerDeleteFeedback {
  width: 500px;
  max-width: 90%;
  border-radius: 12px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px 20px;
  color: white;
}

.delete-candidate-title {
  font-size: 24px;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: white;
  padding: 0;
}

.titleCloseBtn h1 {
  font-size: x-large;
}

.titleCloseBtn button {
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.bodyDeleteFeedback {
  align-items: start;
  text-align: start;
  margin-top: 20px;
}

.footerDeleteFeedback {
  flex: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
}

.footerDeleteFeedback button {
  width: 100px;
  height: 35px;
  margin-left: 10px;
  border: none;
  background-color: rgb(24, 117, 204);
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtnDelete {
  background-color: rgb(176, 176, 176);
  margin-left: 10px;
}
